### Import Dependencies

In [268]:
import pandas as pd
from sklearn.model_selection import train_test_split
from bs4 import BeautifulSoup
import keras
from keras.models import Sequential
from keras.layers import Embedding,Dense,Dropout, LSTM
from keras.preprocessing import text,sequence
import re
import string
import nltk
from nltk.corpus import stopwords

In [269]:
def remove_special_characters(string):
    result = re.sub('\[[^]]*\]', ' ', string)
    result = re.sub('[^a-zA-Z]',' ', string)
    return result

In [270]:
def remove_tags(string):
    result = BeautifulSoup(string, "html.parser")#re.sub('<.*?>','',string)
    result = result.get_text()
    return result

In [ ]:
def tokenize(string):
    result = nltk.word_tokenize(string)
    return result

In [271]:
real = pd.read_csv('True.csv')
fake = pd.read_csv('Fake.csv')

In [272]:
real.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [273]:
fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [274]:
fake["labels"] = 1
real["labels"] = 0

Dataset = [fake,real]
Dataset = pd.concat(Dataset)

In [275]:
x = Dataset.drop("labels", axis = 1)
y = Dataset.labels

In [276]:
x["text"] = x["title"] + " " + x["text"]
x = x.drop("title", axis = 1)

In [277]:
x["text"] = x["text"].apply(lambda x: "'" + x + "'")
x["text"] = x['text'].str.lower()
x['text']=x['text'].apply(lambda f : remove_tags(f))
x['text']=x['text'].apply(lambda f : remove_special_characters(f))

,text,subject,date
0,donald trump sends out embarrassing new year...,News,"December 31, 2017"
1,drunk bragging trump staffer started russian...,News,"December 31, 2017"
2,sheriff david clarke becomes an internet jok...,News,"December 30, 2017"
3,trump is so obsessed he even has obama s nam...,News,"December 29, 2017"
4,pope francis just called out donald trump du...,News,"December 25, 2017"
...,...,...,...
21412,fully committed nato backs new u s approac...,worldnews,"August 22, 2017"
21413,lexisnexis withdrew two products from chinese...,worldnews,"August 22, 2017"
21414,minsk cultural hub becomes haven from authori...,worldnews,"August 22, 2017"
21415,vatican upbeat on possibility of pope francis...,worldnews,"August 22, 2017"
21416,indonesia to buy billion worth of russi...,worldnews,"August 22, 2017"